**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml

**/.devcontainer
**/.fleet
**/.husky
**/.run
**/.space
**/_site
**/.space.kts
docker-compose*.yml
Dockerfile*
LICENSE
README.md
redirect.conf