**/README.md
**/*.js
**/*.tsx
**/*.ts
**/*.jsx
# Those are the documents that need to be fixed
site/python/tutorials/visual_pytest/testing_exceptions/index.md
site/python/tutorials/visual_pytest/tdd_flow/index.md
site/python/tutorials/visual_pytest/skipping_tests/index.md
site/python/tutorials/visual_pytest/setup/index.md
site/python/tutorials/visual_pytest/jump_to_error/index.md
site/python/tutorials/visual_pytest/hello_test/index.md
site/python/tutorials/visual_pytest/fixtures/index.md
site/python/tutorials/visual_pytest/debugging_during_testing/index.md
site/python/tutorials/visual_pytest/background/index.md
site/python/tutorials/sphinx_sites/setup/index.md
site/python/tutorials/intro-aws/testing/index.md
site/python/tutorials/intro-aws/setup/index.md
site/python/tutorials/intro-aws/project-structure/index.md
site/python/tutorials/intro-aws/invoke-local/index.md
site/python/tutorials/intro-aws/deploying/index.md
site/python/tutorials/intro-aws/crud/index.md
site/python/tutorials/intro-aws/cleanup/index.md
site/python/tutorials/intro-aws/background/index.md
site/python/tutorials/intro-aws/authentication/index.md
site/python/tutorials/intro-aws/atlas/index.md
site/python/tutorials/fastapi-aws-kubernetes/testing/index.md
site/python/tutorials/fastapi-aws-kubernetes/setup_sqlalchemy_2/index.md
site/python/tutorials/fastapi-aws-kubernetes/setup_sqlalchemy_1/index.md
site/python/tutorials/fastapi-aws-kubernetes/rest_api_5/index.md
site/python/tutorials/fastapi-aws-kubernetes/rest_api_4/index.md
site/python/tutorials/fastapi-aws-kubernetes/rest_api_3/index.md
site/python/tutorials/fastapi-aws-kubernetes/rest_api_2/index.md
site/python/tutorials/fastapi-aws-kubernetes/rest_api_1/index.md
site/python/tutorials/fastapi-aws-kubernetes/references/index.md
site/python/tutorials/fastapi-aws-kubernetes/redis_celery/index.md
site/python/tutorials/fastapi-aws-kubernetes/project_setup/index.md
site/python/tutorials/fastapi-aws-kubernetes/kubernetes_deploy/index.md
site/python/tutorials/fastapi-aws-kubernetes/introduction/index.md
site/python/tutorials/fastapi-aws-kubernetes/helm_charts/index.md
site/python/tutorials/fastapi-aws-kubernetes/aws_eks/index.md
site/python/tutorials/fastapi-aws-kubernetes/auth_jwt/index.md
site/python/tutorials/django-aws/unit-tests/index.md
site/python/tutorials/django-aws/setup-vpc-and-rds/index.md
site/python/tutorials/django-aws/setup-ubuntu/index.md
site/python/tutorials/django-aws/setup-rds-pycharm/index.md
site/python/tutorials/django-aws/setup-django/index.md
site/python/tutorials/django-aws/sentry-integration/index.md
site/python/tutorials/django-aws/rest-api/index.md
site/python/tutorials/django-aws/rest-api-jwt/index.md
site/python/tutorials/django-aws/project-explore/index.md
site/python/tutorials/django-aws/introduction/index.md
site/python/tutorials/django-aws/github-actions/index.md
site/python/tutorials/django-aws/django-docker/index.md
site/python/tutorials/django-aws/bdd-behave/index.md
site/java/tutorials/writing-tests-with-spock/with/index.md
site/java/tutorials/writing-tests-with-spock/verify-all/index.md
site/java/tutorials/writing-tests-with-spock/setting-up-the-dependencies/index.md
site/java/tutorials/writing-tests-with-spock/mocks/index.md
site/java/tutorials/writing-tests-with-spock/helper-methods/index.md
site/java/tutorials/writing-tests-with-spock/groovy-tips-for-java-developers/index.md
site/java/tutorials/writing-tests-with-spock/given-when-then/index.md
site/java/tutorials/writing-tests-with-spock/expecting-exceptions/index.md
site/java/tutorials/writing-tests-with-spock/data-tables/index.md
site/java/tutorials/writing-tests-with-spock/data-pipes/index.md
site/java/tutorials/writing-tests-with-spock/creating-a-spock-project/index.md
site/java/tutorials/writing-tests-with-spock/a-simple-assertion/index.md
site/java/tutorials/working-with-the-terminal/opening-the-terminal-window/index.md
site/java/tutorials/working-with-maven/maven-tool-window/index.md
site/java/tutorials/working-with-maven/importing-a-project/index.md
site/java/tutorials/sharing-project-on-github/sharing-project-quick-approach/index.md
site/java/tutorials/migrating-junit4-junit5/adding-dependencies/index.md
site/java/tutorials/marco-codes-ssh/summary/index.md
site/java/tutorials/marco-codes-ssh/ssh-gui-cmd-keys-scp/index.md
site/java/tutorials/marco-codes-ssh/ssh-forwarding-tunnels-agents/index.md
site/java/tutorials/marco-codes-ssh/ssh-agent-client-config/index.md
site/java/tutorials/marco-codes-ssh/introduction/index.md
site/java/tutorials/marco-codes-ssh/github-git-keys/index.md
site/java/tutorials/marco-codes-maven/pom-xml/index.md
site/java/tutorials/marco-codes-maven/multi-module-projects/index.md
site/java/tutorials/marco-codes-maven/maven-wrapper/index.md
site/java/tutorials/marco-codes-maven/maven-repositories/index.md
site/java/tutorials/marco-codes-maven/maven-commands/index.md
site/java/tutorials/marco-codes-maven/introduction/index.md
site/java/tutorials/marco-codes-maven/intellij-and-maven/index.md
site/java/tutorials/marco-codes-maven/installing-maven/index.md
site/java/tutorials/marco-codes-gradle/plugins-repositories/index.md
site/java/tutorials/marco-codes-gradle/new-projects-gradle-init/index.md
site/java/tutorials/marco-codes-gradle/multi-projects-structure/index.md
site/java/tutorials/marco-codes-gradle/modifying-tasks-issues/index.md
site/java/tutorials/marco-codes-gradle/introduction/index.md
site/java/tutorials/marco-codes-gradle/implementation-api-scope/index.md
site/java/tutorials/marco-codes-gradle/dependency-package-search/index.md
site/java/tutorials/marco-codes-gradle/clean-test-smart-build/index.md
site/java/tutorials/marco-codes-gradle/build-wrapper-settings/index.md
site/java/tutorials/git-interactive-rebase/ui/index.md
site/java/tutorials/git-interactive-rebase/cli/index.md
site/java/tutorials/getting-started-spring-data-jpa/configure-your-database/index.md
site/java/tutorials/getting-started-intellij-idea/finding-code/index.md
site/java/tips/manage-changelists/index.md
site/java/tips/distraction-free-mode/index.md
site/java/tutorials/writing-tests-with-spock/with/index.md
site/java/tutorials/writing-tests-with-spock/setting-up-the-dependencies/index.md
site/java/tutorials/writing-tests-with-spock/mocks/index.md
site/java/tutorials/writing-tests-with-spock/helper-methods/index.md
site/java/tutorials/writing-tests-with-spock/groovy-tips-for-java-developers/index.md
site/java/tutorials/writing-tests-with-spock/given-when-then/index.md
site/java/tutorials/writing-tests-with-spock/expecting-exceptions/index.md
site/java/tutorials/writing-tests-with-spock/data-tables/index.md
site/java/tutorials/writing-tests-with-spock/data-pipes/index.md
site/java/tutorials/writing-tests-with-spock/creating-a-spock-project/index.md
site/java/tutorials/writing-tests-with-spock/a-simple-assertion/index.md
site/java/tutorials/working-with-maven/maven-tool-window/index.md
site/java/tutorials/working-with-maven/importing-a-project/index.md
site/java/tutorials/sharing-project-on-github/sharing-project-quick-approach/index.md
site/java/tutorials/migrating-junit4-junit5/adding-dependencies/index.md
site/java/tutorials/marco-codes-ssh/summary/index.md
site/java/tutorials/marco-codes-ssh/ssh-gui-cmd-keys-scp/index.md
site/java/tutorials/marco-codes-ssh/ssh-forwarding-tunnels-agents/index.md
site/java/tutorials/marco-codes-ssh/ssh-agent-client-config/index.md
site/java/tutorials/marco-codes-ssh/introduction/index.md
site/java/tutorials/marco-codes-ssh/github-git-keys/index.md
site/java/tutorials/marco-codes-maven/pom-xml/index.md
site/java/tutorials/marco-codes-maven/multi-module-projects/index.md
site/java/tutorials/marco-codes-maven/maven-wrapper/index.md
site/java/tutorials/marco-codes-maven/maven-repositories/index.md
site/java/tutorials/marco-codes-maven/maven-commands/index.md
site/java/tutorials/marco-codes-maven/introduction/index.md
site/java/tutorials/marco-codes-maven/intellij-and-maven/index.md
site/java/tutorials/marco-codes-maven/installing-maven/index.md
site/java/tutorials/marco-codes-gradle/plugins-repositories/index.md
site/java/tutorials/marco-codes-gradle/new-projects-gradle-init/index.md
site/java/tutorials/marco-codes-gradle/multi-projects-structure/index.md
site/java/tutorials/marco-codes-gradle/modifying-tasks-issues/index.md
site/java/tutorials/marco-codes-gradle/introduction/index.md
site/java/tutorials/marco-codes-gradle/implementation-api-scope/index.md
site/java/tutorials/marco-codes-gradle/dependency-package-search/index.md
site/java/tutorials/marco-codes-gradle/clean-test-smart-build/index.md
site/java/tutorials/marco-codes-gradle/build-wrapper-settings/index.md
site/java/tutorials/git-interactive-rebase/ui/index.md
site/java/tutorials/git-interactive-rebase/cli/index.md
site/java/tips/manage-changelists/index.md
site/java/tips/distraction-free-mode/index.md
