.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:hover {
  background-color: $black;
  color: $white;
}
footer.pagefooter a,
footer.pagefooter a:hover {
    color: $grey-light !important;
}
button.has-text-light svg,
footer.pagefooter svg {
  fill: $grey-light;
}
.card.is-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column
}
.card.is-equal-height .card-content {
  height: 100%
}
.card.is-equal-height .card-footer {
  margin-top: auto
}
.has-box-hover {
  &:hover {
    outline: 1px solid $grey-light;
  }
}
.menu-list.on-this-page a {
  border-left: 2px solid $grey-light;
}
.menu-list.on-this-page a.is-active {
  border-left: 4px solid $blue;
}
a.navbar-item:focus-within {
  background-color: $black;
  color: $white;
}
.navbar-link:focus-within {
  background-color: $black;
  color: $white;
}
.navbar-secondary {
  border-bottom: 1px solid $grey-light;
  z-index: 0;
}
.navbar-secondary .navbar-burger a:hover,
.navbar-secondary .navbar-end a:hover {
  background-color: $white;
  color: $primary;
}
.navbar-secondary .navbar-brand a {
  color: $grey-darker;
}
.navbar-secondary .navbar-brand a:hover {
  color: $grey-darker;
  background-color: $white;
}
.image.is-cover-top img {
  object-fit: cover;
  object-position: top;
}
.image.is-contained img {
  object-fit: contain;
}

/* Fix Bulma + Prism conflicts */
.token.number, .token.tag { all: inherit; }

/* Inspired by https://getbootstrap.com/docs/5.3/helpers/stretched-link/ */
.has-position-relative {
  position: relative;
}
.is-stretched-link {
  &::#{after} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}

/* Glows and gradients from https://rescui.dev/components/use-glow-hover/presets/ */
.has-glow-magenta {
  background: radial-gradient(circle, rgb(255, 69, 237) 12%, rgba(255, 69, 237, 0)) no-repeat border-box border-box rgb(8, 124, 250);
}
.has-glow-pink {
  background: radial-gradient(circle, rgb(228, 74, 144) 12%, rgba(228, 74, 144, 0)) no-repeat border-box border-box rgb(103, 92, 233);
}
.has-glow-fresh-green {
  background: radial-gradient(circle, rgb(117, 214, 75) 12%, rgba(117, 214, 75, 0)) no-repeat border-box border-box rgb(40, 184, 160);
}
.has-glow-cold-green {
  background: radial-gradient(circle, rgb(59, 234, 98) 12%, rgba(59, 234, 98, 0)) no-repeat border-box border-box rgb(8, 124, 250);
}
.has-glow-orange {
  background: radial-gradient(circle, rgb(253, 182, 13) 12%, rgba(253, 182, 13, 0)) no-repeat border-box border-box rgb(255, 49, 140);
}
.has-glow-red {
  background: radial-gradient(circle, rgb(221, 18, 101) 12%, rgba(221, 18, 101, 0)) no-repeat border-box border-box rgb(247, 103, 7);
}
.has-glow-purple {
  background: radial-gradient(circle, rgb(107, 87, 255) 12%, rgba(107, 87, 255, 0)) no-repeat border-box border-box rgb(40, 184, 160);
}

.has-gradient-magenta {
  background: linear-gradient(200deg, rgb(255, 69, 237) 12%, rgba(255, 69, 237, 0)) no-repeat border-box border-box rgb(8, 124, 250);
}
.has-gradient-pink {
  background: linear-gradient(200deg, rgb(228, 74, 144) 12%, rgba(228, 74, 144, 0)) no-repeat border-box border-box rgb(103, 92, 233);
}
.has-gradient-fresh-green {
  background: linear-gradient(200deg, rgb(117, 214, 75) 12%, rgba(117, 214, 75, 0)) no-repeat border-box border-box rgb(40, 184, 160);
}
.has-gradient-cold-green {
  background: linear-gradient(200deg, rgb(59, 234, 98) 12%, rgba(59, 234, 98, 0)) no-repeat border-box border-box rgb(8, 124, 250);
}
.has-gradient-orange {
  background: linear-gradient(200deg, rgb(253, 182, 13) 12%, rgba(253, 182, 13, 0)) no-repeat border-box border-box rgb(255, 49, 140);
}
.has-gradient-red {
  background: linear-gradient(200deg, rgb(221, 18, 101) 12%, rgba(221, 18, 101, 0)) no-repeat border-box border-box rgb(247, 103, 7);
}
.has-gradient-purple {
  background: linear-gradient(200deg, rgb(107, 87, 255) 12%, rgba(107, 87, 255, 0)) no-repeat border-box border-box rgb(40, 184, 160);
}
