@charset "utf-8";

@import "variables";
@import "@rescui/typography/lib/font-jb-sans-auto.css";
@import "@rescui/typography/lib/font-jb-sans-variable.css";
@import "bulma/bulma";
@import "overrides";
@import "navbar";

/* plyr css */
.plyr__poster{
  background-size: cover;
}

.highlight {
  @extend %block;
  font-weight: $weight-normal;
  max-width: 100%;
  overflow: hidden;
  padding: 0;

  pre {
    overflow: auto;
    max-width: 100%;
  }
}

.loader {
  @extend %loader;
}

// https://prince.dev/highlight-with-react
pre.prism-code div.token-line.highlight-line {
  background-color: rgb(53, 59, 69);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.3em solid #f99;
}

//// using the CSS to skip deprecated sass issues
//@import "bulma/css/bulma.min.css";
//
//@import "bulmaio/bulmaio";
//
//@import "bulmaio_jinja2/article_card";
//@import "bulmaio_jinja2/breadcrumb";
//@import "bulmaio_jinja2/content";
//
//// Now get the related files
//@import "Navbar";
//
//.bio-page-sidebar {
//  font-size: $size-small;
//
//  ul {
//    list-style: none;
//    margin: 0;
//  }
//
//  .bio-page-sidenav-published-heading li {
//    padding: 0.5em 0.75em;
//  }
//
//  .menu-label {
//    margin-bottom: 2em;
//  }
//}
//
///* Images in Markdown are centered, fix to be left aligned */
//span.gatsby-resp-image-wrapper {
//  margin-left: inherit !important;
//}
//
//.block {
//  @extend %block
//}
//
//.delete {
//  @extend %delete
//}
//
//.heading {
//  display: block;
//  font-size: 11px;
//  letter-spacing: 1px;
//  margin-bottom: 5px;
//  text-transform: uppercase;
//}
//
//
///* Tags */
//.tags {
//  font-size: 0.75rem;
//}
//
// .media-content .tag {
//   display: inline-block;
//   margin-right: 0.2rem;
//   font-size: 0.75rem;
// }
//
// /* has colors */
//.has-text-primary {
//  color: #00d1b2 !important;
//}
//.has-text-success {
//  color: #48c774!important;
//}
//.has-text-info {
//  color: #3298dc!important;
//}
//.has-text-danger {
//  color: #f14668!important;
//}
//.has-text-warning {
//  color: #ffdd57!important;
//}
//.has-text-dark {
//  color: #363636!important;
//}
//