@media (max-width: 1023px) {
  .navbar-search {
    .dropdown {
      .dropdown-menu { // .is-right
        left: 0 !important;
        right: auto !important;
      }
    }
  }

  #search-menu {
    min-width: 90vw;
  }
}

@media (min-width: 1024px) {
  .navbar-search {
    .dropdown {
      .dropdown-menu { // .is-right
        left: auto !important;
        right: 0 !important;
      }
    }
  }

  #search-menu {
    min-width: 40rem;
  }
}

@media (max-width: 1023px) {
  .navbar-end {
    .button.is-fullwidth-mobile {
      display: flex;
      width: calc(100% - 2 * calc(0.75em - 1px));
      margin-left: calc(0.75em - 1px);
      margin-right: calc(0.75em - 1px);
    }
  }
}

.bio-navbar-brand-twitter span {
  color: #55acee;
  min-height: 299px;
}
